body{
   background-color:  #E5E5E5;
    
}
.btn-custom{
    background-color: #fad6ed !important;
    width: 207px;
    height: 45px;
}
.weding{
background-color:#3F87F5;
box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
border-radius: 26px;
width: 252px;
height: 480px;
color: white;
margin-bottom: -15px;

position: relative;
}

.hot {
    background: #FF4E4E;
    border-radius: 13.5px;
    position: absolute;
    left: 76.79%;
    top: -15px;;
    height: 30px;
    width: 50px;
    text-align: center;


}
.coldescrip{
    margin-left: 50px;
    margin-top: 30px
}
.client{
   
    background-image: url(/images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    margin-top: 150px;
    margin-bottom: 50px;
}
footer{
    background-color: #0B0D17;
   height: 300px;
}
.flexible{
    height: 300px;
}
.button{
    background-color: white;
}
